@font-face {
	font-family: 'Iskra';
	src: url('../fonts/Iskra-Regular.otf');
	font-weight: Regular;
	font-style: normal;
}

@font-face {
	font-family: 'Iskra';
	src: url('../fonts/Iskra-Bold.otf');
	font-weight: Bold;
	font-style: normal;
}

@font-face {
	font-family: 'Iskra';
	src: url('../fonts/Iskra-UltraBold.otf');
	font-weight: Bolder;
	font-style: normal;
}

@font-face {
	font-family: 'Merel';
	src: url('../fonts/The Northern Block Ltd - Merel.otf');
	font-weight: Regular;
	font-style: normal;
}

@font-face {
	font-family: 'Merel';
	src: url('../fonts/The Northern Block Ltd - Merel Bold.otf');
	font-weight: Bold;
	font-style: normal;
}